
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>This is heding one</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum repellendus iusto corrupti ullam. Molestias quasi sequi delectus in facere culpa atque ratione eius suscipit animi.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, rerum!</p>
        </div>
        <div class="col-md-6">
            <h2>This is heading three</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum repellendus iusto corrupti ullam. Molestias quasi sequi delectus in facere culpa atque ratione eius suscipit animi.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, rerum!</p>
        </div>
    </div>
</div>

{% schema %}
{
    "name" : "About Us",
    "settings" : [
    ]
}
{% endschema %}